

@mixin Universo {
    margin-top: 25px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns:200px 300px 300px 300px 200px ;
    grid-template-rows: 600px ;
    gap: 20px;
}

@mixin Universo2 {
    padding: 25px;
  margin-top: 25px;
  background-color: black;
  display: grid;
  grid-template-columns: 200px 300px 300px 300px 200px;
  grid-template-rows: 500px 500px;
  gap: 20px;
}

@mixin Tarjeta1 {
    grid-column: 2/3;
        grid-row: 1/2;
}

@mixin Tarjeta2 {
    grid-column: 3/4;
        grid-row: 1/2;
}

@mixin Tarjeta3 {
    grid-column: 4/5;
        grid-row: 1/2;
}

@mixin Tarjeta4 {
    grid-column: 2/3;
    grid-row: 2/3;
}

@mixin Tarjeta5 {
    grid-column: 3/4;
        grid-row: 2/3;
}

@mixin Tarjeta6 {
    grid-column: 4/5;
        grid-row: 2/3;
}


.Universo-home1{
    @include Universo

    .Tarjeta1{
        @include Tarjeta1
    }
    .Tarjeta2{
        @include Tarjeta2
    }
    .Tarjeta3{
        @include Tarjeta3
    }
}






.Universo-home2 {
   @include Universo2

    .Tarjeta4{
       @include Tarjeta1
    }
    .Tarjeta5{
        @include Tarjeta2
    }
    .Tarjeta6{
        @include Tarjeta3
     }
    .Tarjeta7{
        @include Tarjeta4
    }
    .Tarjeta8{
        @include Tarjeta5

    }
    .Tarjeta9{
        @include Tarjeta6
    }
}

.Universo-home3{
    @include Universo

    .Tarjeta10{
     @include Tarjeta1
    }
    .Tarjeta11{
        @include Tarjeta2
    }
    .Tarjeta12{
        @include Tarjeta3
    }
}

.Universo-home4{
    @include Universo
    
    .Tarjeta13{
        @include Tarjeta1
    }
    .Tarjeta14{
        @include Tarjeta2
    }
    .Tarjeta15{
        @include Tarjeta3
    }
}

.Universo-home5{
    @include Universo

    .Tarjeta16{
        @include Tarjeta1
    }
    .Tarjeta17{
        @include Tarjeta2
    }
    .Tarjeta18{
        @include Tarjeta3
    }
}

.Universo-home6{
    @include Universo

    .Tarjeta19{
        @include Tarjeta1
    }
    .Tarjeta20{
        @include Tarjeta2
    }
    .Tarjeta21{
        @include Tarjeta3
    }
}