.Universo-home1 {
  margin-top: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 300px 300px 300px 200px;
      grid-template-columns: 200px 300px 300px 300px 200px;
  -ms-grid-rows: 500px;
      grid-template-rows: 500px;
  gap: 20px;
}

.Universo-home1 .Tarjeta1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.Universo-home1 .Tarjeta2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.Universo-home1 .Tarjeta3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.Universo-home2 {
  padding: 25px;
  margin-top: 25px;
  background-color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 300px 300px 300px 200px;
      grid-template-columns: 200px 300px 300px 300px 200px;
  -ms-grid-rows: 500px 500px;
      grid-template-rows: 500px 500px;
  gap: 20px;
}

.Universo-home2 .Tarjeta4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.Universo-home2 .Tarjeta5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.Universo-home2 .Tarjeta6 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.Universo-home2 .Tarjeta7 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.Universo-home2 .Tarjeta8 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.Universo-home2 .Tarjeta9 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.Universo-home3 {
  margin-top: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 300px 300px 300px 200px;
      grid-template-columns: 200px 300px 300px 300px 200px;
  -ms-grid-rows: 500px;
      grid-template-rows: 500px;
  gap: 20px;
}

.Universo-home3 .Tarjeta10 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.Universo-home3 .Tarjeta11 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.Universo-home3 .Tarjeta12 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.Universo-home4 {
  margin-top: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 300px 300px 300px 200px;
      grid-template-columns: 200px 300px 300px 300px 200px;
  -ms-grid-rows: 500px;
      grid-template-rows: 500px;
  gap: 20px;
}

.Universo-home4 .Tarjeta13 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.Universo-home4 .Tarjeta14 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.Universo-home4 .Tarjeta15 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.Universo-home5 {
  margin-top: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 300px 300px 300px 200px;
      grid-template-columns: 200px 300px 300px 300px 200px;
  -ms-grid-rows: 500px;
      grid-template-rows: 500px;
  gap: 20px;
}

.Universo-home5 .Tarjeta16 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.Universo-home5 .Tarjeta17 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.Universo-home5 .Tarjeta18 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.Universo-home6 {
  margin-top: 25px;
  margin-bottom: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 300px 300px 300px 200px;
      grid-template-columns: 200px 300px 300px 300px 200px;
  -ms-grid-rows: 500px;
      grid-template-rows: 500px;
  gap: 20px;
}

.Universo-home6 .Tarjeta19 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.Universo-home6 .Tarjeta20 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.Universo-home6 .Tarjeta21 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
/*# sourceMappingURL=style.css.map */